<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seckill.dao.AssetManagementRatioMapper">
    <resultMap id="BaseResultMap" type="org.seckill.entity.AssetManagementRatio">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="year" jdbcType="INTEGER" property="year" />
        <result column="selling_cost" jdbcType="NUMERIC" property="sellingCost" />
        <result column="initial_inventory" jdbcType="NUMERIC" property="initialInventory" />
        <result column="final_inventory" jdbcType="NUMERIC" property="finalInventory" />
        <result column="sales_revenue" jdbcType="NUMERIC" property="salesRevenue" />
        <result column="initial_receivables" jdbcType="NUMERIC" property="initialReceivables" />
        <result column="final_receivables" jdbcType="NUMERIC" property="finalReceivables" />
        <result column="initial_total_assets" jdbcType="NUMERIC" property="initialTotalAssets" />
        <result column="final_total_assets" jdbcType="NUMERIC" property="finalTotalAssets" />
        <result column="initial_current_assets" jdbcType="NUMERIC" property="initialCurrentAssets" />
        <result column="final_current_assets" jdbcType="NUMERIC" property="finalCurrentAssets" />
    </resultMap>
    <sql id="Base_Column_List">
        id, year, selling_cost, initial_inventory, final_inventory, sales_revenue, initial_receivables, final_receivables, initial_total_assets, final_total_assets, initial_current_assets, final_current_assets
    </sql>

    <select id="selectAssetManagementRatioById" resultType="org.seckill.entity.AssetManagementRatio">
        select
        <include refid="Base_Column_List" />
        from asset_management_ratio
        where id = #{id, jdbcType=INTEGER}
    </select>

</mapper>