<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seckill.dao.DebtRatioMapper">
    <resultMap id="BaseResultMap" type="org.seckill.entity.DebtRatio">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="year" jdbcType="INTEGER" property="year" />
        <result column="total_liabilities" jdbcType="NUMERIC" property="totalLiabilities" />
        <result column="total_assets" jdbcType="NUMERIC" property="totalAssets" />
        <result column="shareholders_equity" jdbcType="NUMERIC" property="shareholdersEquity" />
        <result column="net_intangible_assets" jdbcType="NUMERIC" property="netIntangibleAssets" />
        <result column="total_profits" jdbcType="NUMERIC" property="totalProfits" />
        <result column="financial_expenses" jdbcType="NUMERIC" property="financialExpenses" />
        <result column="interests" jdbcType="NUMERIC" property="interests" />
        <result column="capitalized_interest" jdbcType="NUMERIC" property="capitalizedInterest" />
    </resultMap>
    <sql id="Base_Column_List">
        id, year,total_liabilities, total_assets, shareholders_equity, net_intangible_assets, total_profits, financial_expenses, interests, capitalized_interest
    </sql>

    <select id="selectDebtRatioById" resultType="org.seckill.entity.DebtRatio">
        select
        <include refid="Base_Column_List" />
        from debt_ratio
        where id = #{id, jdbcType=INTEGER}
    </select>

</mapper>