<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seckill.dao.UserMapper">
    <resultMap id="BaseResultMap" type="org.seckill.entity.User">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="is_bank" jdbcType="TINYINT" property="isBank" />
    </resultMap>
    <sql id="Base_Column_List">
        id, user_name, password, is_bank
    </sql>

    <insert id="insertUser" parameterType="org.seckill.entity.User">
        insert into user (id, user_name, password, is_bank)
        values (
        #{id,jdbcType=VARCHAR},
        #{userName,jdbcType=VARCHAR},
        #{password, jdbcType=VARCHAR},
        #{isBank,jdbcType=TINYINT}
        )
    </insert>

    <update id="updateUser" parameterType="org.seckill.entity.User">
        update user
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="isBank != null">
                is_bank = #{isBank,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id, jdbcType=VARCHAR}
    </update>

    <select id="selectUserByUserName" resultType="org.seckill.entity.User">
        select
        <include refid="Base_Column_List" />
        from user
        where user_name = #{userName, jdbcType=VARCHAR}
    </select>

    <select id="selectUserById" resultType="org.seckill.entity.User">
        select
        <include refid="Base_Column_List" />
        from user
        where id = #{id, jdbcType=VARCHAR}
    </select>

</mapper>